<h1>Yo!! I'm Felix Xie!!! HAHAHAHAH~~!!</h1>
<h1>I used to think I was the smartest person in the world!!</h1>
<h1>So many years since then~~~~</h1>
<h1>~~~~~~~~~~~~~~~~~~~~~~~~~~~~</h1>
<h1>~~~~~~~~~~~~~~~~~~~~~~~~~~~~</h1>
<h1>~~~~~~~~~~~~~~~~~~~~~~~~~~~~</h1>
<h1>~~~~~~~~~~~~~~~~~~~~~~~~~~~~</h1>
<h1>~~~~~~~~~~~~~~~~~~~~~~~~~~~~</h1>
<h1>~~~~~~~~~~~~~~~~~~~~~~~~~~~~</h1>
<h1>~~~~~~~~~~~~~~~~~~~~~~~~~~~~</h1>
<h1>~~~~~~~~~~~~~~~~~~~~~~~~~~~~</h1>
<h1>~~~~~~~~~~~~~~~~~~~~~~~~~~~~</h1>
<h1>~~~~~~~~~~~~~~~~~~~~~~~~~~~~</h1>
<h1>~~~~~~~~~~~~~~~~~~~~~~~~~~~~</h1>
<h1>~~~~~~~~~~~~~~~~~~~~~~~~~~~~</h1>
<h1>~~~~~~~~~~~~~~~~~~~~~~~~~~~~</h1>
<h1>~~~~~~~~~~~~~~~~~~~~~~~~~~~~</h1>
<h1>~~~~~~~~~~~~~~~~~~~~~~~~~~~~</h1>
<h1>~~~~~~~~~~~~~~~~~~~~~~~~~~~~</h1>
<h1>~~~~~~~~~~~~~~~~~~~~~~~~~~~~</h1>
<h1>~~~~~~~~~~~~~~~~~~~~~~~~~~~~</h1>
<h1>~~~~~~~~~~~~~~~~~~~~~~~~~~~~</h1>
<h1>~~~~~~~~~~~~~~~~~~~~~~~~~~~~</h1>
<h1>~~~~~~~~~~~~~~~~~~~~~~~~~~~~</h1>
<h1>~~~~~~~~~~~~~~~~~~~~~~~~~~~~</h1>
<h1>~~~~~~~~~~~~~~~~~~~~~~~~~~~~</h1>
<h1>~~~~~~~~~~~~~~~~~~~~~~~~~~~~</h1>
<h1>~~~~~~~~~~~~~~~~~~~~~~~~~~~~</h1>
<h1>~~~~~~~~~~~~~~~~~~~~~~~~~~~~</h1>
<h1>I still feel the same!! Yay!!! ^_- </h1>
<h1>01/15/2012 4:52PM PST</h1>
